body {
  margin: 0;
  padding: 0;
  font-family: lora;
}

header {
  background: url("./maria_bruce.jpg");
  background-size: cover;
  height: 35vh;
}

#title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color:white;
  display: inline-block;
  padding: .2em .2em;
  border: white solid 4px;
  letter-spacing: .05em;
  margin-top: 70px;
  margin-bottom: 15px;
  clear: both;
  font-family: lora;
}

#kicker {
  font-size: 15px;
  text-align: center;
  color: white;
  letter-spacing: .05em;
}

#profile_image {
  height: 30vh;
  width: auto;
  margin:0px;
  border:10px solid white;
  border-radius: 20px;
}

.sCat {
  width: 40vw;
  height: auto;
  margin: 2vw;
}

body {
  text-align: center;
}

#about_me {
  color: black;
  font-family: arial;
}
nav {
  background: rgb(228, 220, 220);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  color: Black;
}
nav a {
  margin: 20px;
}

.worksTitle {
  display: flex;
  flex-wrap: wrap;
  font-family: lora;
  /* justify-content: center; */
}

.textContent {
  margin: 5vw;
  color: black;
  font-family: lora;
}

.greyPage {
  /* border-radius: 1vw;
  box-shadow: 0px 0px 1.4vw .2vw white; */
  background-color: darkgray;
  /* border: 1px solid rgb(140, 191, 132); */
  padding: 2vh;
}

.bluePage {
  /* border-radius: 1vw;
  box-shadow: 0px 0px 1.4vw .2vw white; */
  background-color: lightblue;
  /* border: 1px solid rgb(140, 191, 132); */
  padding: 2vh;
}

.whitePage {
  /* border-radius: 1vw;
  box-shadow: 0px 0px 1.4vw .2vw white; */
  background-color: white;
  /* border: 1px solid rgb(140, 191, 132); */
  /* padding: 2vh; */
}

.btn__email-submission {
  background-color: grey;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 8rem;
  padding: .2em;
}

.btn__email-submission:active {
  transform: translateY(-.4rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
